services:
  discord-bot:
    build: .
    container_name: discord_bot
    volumes:
      - .:/app
    working_dir: /app
    command: python bot.py
    env_file:
      - .env
    restart: unless-stopped